## --------- .NET (Backend) Çöpleri ---------
bin/
obj/
*.dll
*.exe
*.pdb
*.suo
*.user
.vs/
.vscode/

## --------- Angular (Frontend) Çöpleri ---------
node_modules/
.angular/
dist/
.tmp/
.sourcemaps/

## --------- İşletim Sistemi Çöpleri ---------
Thumbs.db
.DS_Store## --------- .NET (Backend) Çöpleri ---------
bin/
obj/
*.dll
*.exe
*.pdb
*.suo
*.user
.vs/
.vscode/

## --------- Angular (Frontend) Çöpleri ---------
node_modules/
.angular/
dist/
.tmp/
.sourcemaps/

## --------- İşletim Sistemi Çöpleri ---------
Thumbs.db
.DS_Store

